extends ../layout

block content
  h1= title
  p Please enter login information
  div.loginbox
    form(name="login", action="/users/login", method="post")
      label(for="email") email
      input(type="text", name="email")
      label(for="password") password
      input(type="password", name="password")
      input(type="submit", value="login")
    a(href="/users/register") register